<!doctype html>
<html lang="fr" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
data-sidebar-image="none" data-preloader="disable" data-theme="default" data-theme-colors="default">
<head>
    <meta charset="utf-8" />
    {% block titre %}
    <title>Cadastre - Tableau de bord</title>
    {% endblock %}
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Application web pour la gestion des dossiers cadastraux.">
    <meta name="author" content="Themesbrand">
    <!-- jsvectormap css -->
    <link href="{{ url_for('static', filename='libs/jsvectormap/jsvectormap.min.css') }}" rel="stylesheet"
        type="text/css">
    <!-- Swiper slider css -->
    <link href="{{ url_for('static', filename='libs/swiper/swiper-bundle.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Layout config Js -->
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    <!-- Bootstrap Css -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="{{ url_for('static', filename='css/icons.min.css') }}" rel="stylesheet" type="text/css">
    <!-- App Css -->
    <link href="{{ url_for('static', filename='css/app.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Custom Css -->
    <link href="{{ url_for('static', filename='css/custom.min.css') }}" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        {% block header %}
        {% include 'admin/includes/header.html' %}
        {% endblock %}



        {% block navbar %}
        {% include 'admin/includes/navbar.html' %}
        {% endblock %}
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            {% block contenu %}
            {% endblock %}
            <!-- End Page-content -->


            {% block footer %}
            {% include 'admin/includes/footer.html' %}
            {% endblock %}

</body>

</html>