{% extends 'signature/base.html' %}
{% block titre %}
    <title>Cadastre - Dossiers validés</title>
{% endblock %}

{% block contenu %}
<div class="page-content">
    <div class="container-fluid">

        <!-- Start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-light p-4 rounded shadow-sm">
                    <h4 class="mb-sm-0 text-dark">Liste des dossiers terminés</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);" class="text-muted">Liste</a></li>
                            <li class="breadcrumb-item active"><b class="text-primary">Gestion Signature</b></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page title -->

        <!-- Start content section -->
        <div class="row mt-4">
            <div class="col-xl-12">
                <div class="card shadow-sm border-light">
                    <div class="card-header d-flex align-items-center bg-primary text-white p-3 rounded-top">
                        <h4 class="card-title mb-0 flex-grow-1" style="color:aliceblue">Liste des dossiers : Gestion Signature</h4>
                    </div>
                    <!-- End card header -->

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="alert-container">
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover align-middle mb-0">
                                <thead class="table-light text-center">
                                    <tr>
                                        <th>Nom du dossier</th>
                                        <th>Durée globale (N1-N4)</th>
                                        <th>Date assignation N3</th>
                                        <th>Admin</th>
                                         <th>Chef Brigarde</th>
                                        <th>Brigarde</th>
                                        <th>securisation</th>
                                        <th>evaluation <br>cadastrale</th>
                                        <th>Date assignation N4</th>
                                        <th>Votre nom</th>
                                        <th>Durée du dossier</th>
                                        <th>Statut</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dossier in dossiers %}
                                        <tr class="text-center">
                                            <td><b class="text-primary">{{ dossier["nom_dossier"] }}</b></td>
                                            <td>{{ dossier["date_temine_n6"] - dossier["date_ajout"] }}</td>
                                            <td>{{ dossier["date_temine_n3"] }}</td>
                                            <td>{{ dossier["n1_admin"] }}</td>
                                            <td>{{ dossier["n2_chef_brigade"] }}</td>
                                            <td class="text-primary">{{ dossier["n3_brigade"] }}</td>
                                            <td class="text-primary">{{ dossier["n4_securisation"] }}</td>
                                             <td class="text-primary">{{ dossier["n5_evaluation_cadastrale"] }}</td>
                                            <td>{{ dossier["date_assignation_n4"] }}</td>
                                            <td class="text-primary">{{ dossier["n6_signature"] }}</td>
                                            <td>{{ dossier["date_temine_n6"] - dossier["date_assignation_n5"] }}</td>
                                            <td class="text-success">{{ dossier["statut"] }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End card-body -->
                </div>
                <!-- End card -->
            </div>
            <!-- End col -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container-fluid -->
</div>
{% endblock %}
