{% extends 'securisation/base.html' %}

{% block contenu %}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                    <h4 class="mb-sm-0">Liste des dossier</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Liste</a></li>
                            <li class="breadcrumb-item active">Liste des dossiers</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <!-- end row -->

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Liste des dossier</h4>
                        <h1>Liste des Dossiers Validés par: {{ firstName }}</h1>
                    
                    </div><!-- end card header -->

                    <div class="card-body">
                       
                        <div class="live-preview">
                            <div class="table-responsive table-card">
                                <table class="table align-middle table-nowrap table-striped-columns mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th>ID</th>
                                            <th>Nom du Dossier</th>
                                            <th>Date de Création</th>
                                            <th>Date de validation</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for dossier in dossiers %}
                                            <tr>
                                                <td>{{ dossier[0] }}</td>
                                                <td>{{ dossier[1] }}</td>
                                                <td>{{ dossier[2] }}</td>
                                                <td>{{ dossier[3] }}</td>
                                                <td>{{ dossier[5] }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>  
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div><!-- end row -->



    </div>
    <!-- container-fluid -->
</div>

{% endblock %}