{% extends 'chef_brigade/base.html' %}

{% block contenu %}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="h-100">
                    <div class="row mb-4 pb-2">
                        <div class="col-12">
                            <div class="d-flex align-items-center flex-lg-row flex-column">
                                <div class="flex-grow-1">
                                    <h4 class="fs-20 mb-2 text-primary">Bonjour, {{firstName}}</h4>
                                    <p class="text-muted mb-0">Votre tableau de bord actuel</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Card 1: Dossier en attente -->
                      

                        <!-- Card 2: Dossier en cours -->
                        <div class="col-xl-6 col-md-6">
                            <div class="card card-animate shadow-lg rounded-3">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <p class="text-uppercase fw-medium text-muted mb-1">Nombre de dossier en cours</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between mt-3">
                                        <div>
                                            <h4 class="fs-24 fw-bold text-dark mb-3">{{en_cours}}</h4>
                                            <a href="{{ url_for('liste_gestion_chef_brigade') }}" class="text-decoration-none text-info">Voir plus</a>
                                        </div>
                                        <div class="avatar-sm">
                                            <span class="avatar-title bg-info rounded-circle">
                                                <i class="bx bx-loader bx-spin text-white"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Card 3: Dossier validés -->
                        <div class="col-xl-6 col-md-6">
                            <div class="card card-animate shadow-lg rounded-3">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <p class="text-uppercase fw-medium text-muted mb-1">Nombre de dossier validés</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between mt-3">
                                        <div>
                                            <h4 class="fs-24 fw-bold text-dark mb-3">{{termine}}</h4>
                                            <a href="{{ url_for('dossiers_valides') }}" class="text-decoration-none text-warning">Voir plus</a>
                                        </div>
                                        <div class="avatar-sm">
                                            <span class="avatar-title bg-warning rounded-circle">
                                                <i class="bx bx-check-circle text-white"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}