{% extends 'chef_brigade/base.html' %}

{% block titre %}
<title>chef brigade - Dossiers en cours </title>

{% endblock %}

{% block contenu %}

<div class="page-content">
    <div class="container-fluid">

        <!-- Titre de la page -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-light">
                    <h4 class="mb-sm-0">Liste des dossiers en attente de validation</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Accueil</a></li>
                            <li class="breadcrumb-item active">Dossiers en attente</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Liste des dossiers -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Dossiers en attente de validation</h4>
                    </div>

                    <div class="card-body">
                        <div class="live-preview">
                            <div class="table-responsive table-card">
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                <div>
                                    {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}" role="alert">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% endwith %}

                                <table class="table table-hover align-middle table-striped mb-0">
                                    <thead class="table-light">
                                    <tr>
                                        <th class="text-center">Nom du dossier</th>
                                        <th class="text-center">Date d'ajout</th>
                                        <th class="text-center">Date assigée</th>
                                        <th class="text-center">Date Terminé</th>
                                        <th class="text-center">Durées du <br>traitement dossier</th>
                                        <th class="text-center">Admin</th>
                                        <th class="text-center">Chef Brigarde</th>
                                        <th class="text-center">Statut</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for dossier in dossiers %}
                                    <tr>
                                        <td class="text-center"><b class="text-primary">{{dossier[1]}}</b></td>
                                        <td class="text-center">{{dossier[2]}}</td>
                                        <td class="text-center">{{ dossier[3] }}</td>
                                        <td class="text-center">{{ dossier[4] }}</td>
                                        <td class="text-center"> {{ dossier[4]-dossier[3] }}
                                        <td class="text-center">{{ dossier[6] }}</td>
                                        <td class="text-center">{{ dossier[7] }}</td>
                                        <td>
                                        <b style="color: blue;">
                                            {{ dossier[5] }}
                                        </b>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- Fin card-body -->
                </div><!-- Fin card -->
            </div><!-- Fin col -->
        </div><!-- Fin row -->
    </div><!-- Fin container-fluid -->
</div>

{% endblock %}