<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © Velzon.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by Themesbrand
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<!-- end main content-->

</div>
<!-- END layout-wrapper -->



<!--start back-to-top-->
<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
<i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->

<!--preloader-->
<div id="preloader">
<div id="status">
<div class="spinner-border text-primary avatar-sm" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
</div>
</div>

<div class="customizer-setting d-none d-md-block">
<div class="btn-info rounded-pill shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas"
data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
<i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
</div>
</div>



<!-- JAVASCRIPT -->
<script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Simplebar -->
<script src="{{ url_for('static', filename='libs/simplebar/simplebar.min.js') }}"></script>

<!-- Node Waves -->
<script src="{{ url_for('static', filename='libs/node-waves/waves.min.js') }}"></script>

<!-- Feather Icons -->
<script src="{{ url_for('static', filename='libs/feather-icons/feather.min.js') }}"></script>

<!-- Lord Icon -->
<script src="{{ url_for('static', filename='js/pages/plugins/lord-icon-2.1.0.js') }}"></script>

<!-- Plugins -->
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>

<!-- ApexCharts -->
<script src="{{ url_for('static', filename='libs/apexcharts/apexcharts.min.js') }}"></script>

<!-- Vector Map -->
<script src="{{ url_for('static', filename='libs/jsvectormap/jsvectormap.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/jsvectormap/maps/world-merc.js') }}"></script>

<!-- Swiper Slider -->
<script src="{{ url_for('static', filename='libs/swiper/swiper-bundle.min.js') }}"></script>

<!-- Dashboard Init -->
<script src="{{ url_for('static', filename='js/pages/dashboard-ecommerce.init.js') }}"></script>

<!-- App JS -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>